<div class="container">

  <!-- Outer Row -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row justify-content-center ">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-3 d-none d-lg-block"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome to Product Central</h1>
                </div>
                <form class="user" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="email"
                           name="email" aria-describedby="emailHelp" placeholder="Enter email"
                           [(ngModel)]="form.email" required #email="ngModel">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="email.errors && f.submitted">
                      Email is required!
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="password"
                           name="password" placeholder="Password" [(ngModel)]="form.password" required
                           #password="ngModel">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="password.errors && f.submitted">
                      <div *ngIf="password.errors">Password is required</div>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                  <div class="form-group"><br>
                    <div class="alert alert-danger" role="alert"
                         *ngIf="f.submitted && isLoginFailed">
                      {{ errorMessage }}
                    </div>
                  </div>
                  <hr>
                  <p>Don't have account yet? <a [routerLink]="['/register']">Register here</a></p>
                </form>
              </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block"></div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
