<div class="vh-100">
<div class="authincation h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-6">
        <div class="authincation-content">
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <div class="text-center mb-3">
                  <h2>Welcome to Product Central</h2>
                </div>
                <h4 class="text-center mb-4">Sign up your account</h4>
                <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="mb-3">
                    <label class="mb-1"><strong>Email</strong></label>
                    <input type="email" class="form-control form-control-user" id="email"
                           name="email" aria-describedby="emailHelp" placeholder="Enter email"
                           [(ngModel)]="form.email" required #email="ngModel">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="email.errors && f.submitted">
                      Email is required!
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="mb-1"><strong>Name</strong></label>
                    <input type="text" class="form-control form-control-user" id="name"
                           name="name" aria-describedby="nameHelp" placeholder="Enter name"
                           [(ngModel)]="form.name" required #name="ngModel">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="name.errors && f.submitted">
                      Name is required!
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="mb-1"><strong>Account type</strong></label>
                    <select name="accountType" class="form-control" [(ngModel)]="form.accountType" #accountType="ngModel" required>
                      <option value="PERSONAL">
                        Personal
                      </option>
                      <option value="ORGANIZATION">
                        Organization
                      </option>
                    </select>
                    <div class="alert alert-danger" role="alert"
                         *ngIf="accountType.errors && f.submitted">
                      Account type is required!
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="mb-1"><strong>Password</strong></label>
                    <input type="password" class="form-control form-control-user" id="password"
                           name="password" aria-describedby="passwordHelp" placeholder="Enter password"
                           [(ngModel)]="form.password" required #password="ngModel">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="password.errors && f.submitted">
                      Password is required!
                    </div>
                  </div>
                  <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign me up</button>
                  </div>
                </form>
                <div class="new-account mt-3">
                  <p>Already have an account? <a class="text-primary" href="page-login.html">Sign in</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
