<div class="row">
  <!-- Content Column -->
  <div class="col-lg-12 mb-12">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3  d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">User info</h6>
        <a [routerLink]="['/admin/users']"  class="btn btn-secondary">Go back</a>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Name</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ user.name }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-user fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Email</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ user.email }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-envelope fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      ID</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ user.id }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-id-badge fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Account Type</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ getAccountType(user.accountType) }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-id-card fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Role</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ getRoleName(user.role) }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-key fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Number of projects</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{ user.numberOfProjects }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-laptop-code fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
