<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3  d-flex justify-content-between align-items-center">
    <h6 class="m-0 font-weight-bold text-primary">Ankete</h6>
    <a  class="btn btn-info" [routerLink]="['/admin/survey-details']" >Kreiraj anketu</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table *ngIf="fetched" datatable="ng" [dtOptions]="dtOptions" class="table table-bordered table-hover" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Ime ankete</th>
          <th>Broj grupa u anketi</th>
          <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let survey of surveys">
          <td>{{survey.name}}</td>
          <td>{{survey.numberOfGroups}}</td>
          <td>
            <a [routerLink]="['/admin/survey-details', survey.id]" class="btn btn-info btn-circle btn-sm"><i
              class="fas fa-info-circle"></i></a> &nbsp;
            <span style="cursor: pointer; margin-left: 5px"
                  mwlConfirmationPopover
                  popoverTitle="Da li ste sigurni?"
                  popoverMessage="Da li ste sigurni da želite da izbrišete anketu?"
                  placement="left"
                  (confirm)="delete(survey.id)"
            ><span class="fa fa-trash-alt text-danger"></span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
