<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{pageName()}}</h1>
</div>

<form class="user" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="row">
    <div class="col-md-12">
      <!-- Collapsable Card Example -->
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Basic project informations</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample" style="">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Project name</label>
                  <input type="text" class="form-control" id="name"
                         name="name" aria-describedby="nameHelp" placeholder="Enter project name"
                         [(ngModel)]="form.name" required #name="ngModel">
                  <div class="alert alert-danger" role="alert"
                       *ngIf="name.errors && f.submitted">
                    Project name is required!
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group float-right" style="margin-top:37px; margin-right: 140px">
                  <div class="custom-control custom-switch">
                    <input [(ngModel)]="form.inProgress" name="inProgress" type="checkbox" class="custom-control-input" id="inProgress">
                    <label class="custom-control-label" for="inProgress">Project is in progress</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Project description</label>
                  <textarea class="form-control" id="description"
                         name="description" aria-describedby="descriptionHelp" placeholder="Enter project description"
                            [(ngModel)]="form.description" #description="ngModel"> </textarea>
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Project start date</label>
                  <input type="date" class="form-control" id="startDate"
                         name="startDate" aria-describedby="startDateHelp"
                         [(ngModel)]="form.startDate" required #startDate="ngModel">
                  <div class="alert alert-danger" role="alert"
                       *ngIf="startDate.errors && f.submitted">
                    Start date is required!
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Project end date</label>
                  <input [readonly]="form.inProgress" type="date" class="form-control" id="endDate"
                         name="endDate" aria-describedby="endDateHelp"
                         [(ngModel)]="form.endDate" #endDate="ngModel">
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--  REPOSITORY FIELDS -->
  <div class="row">
    <div class="col-md-12">
      <!-- Collapsable Card Example -->
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#repositoryColapse" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="trues" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Project repositories</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="repositoryColapse" style="">
          <div class="card-body">
            <div class="row" *ngFor="let rf of form.repositoryFields let i = index">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Repository name</label>
                  <input type="text" class="form-control" id="rfname{{i}}"
                         name="rfname{{i}}" aria-describedby="repositoryNameHelp" placeholder="Enter repository name"
                         [(ngModel)]="form.repositoryFields[i].name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Repository url</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="frurl{{i}}"
                           name="frurl{{i}}" aria-describedby="repositoryNameHelp" placeholder="Enter repository url"
                           [(ngModel)]="form.repositoryFields[i].url">
                    <button (click)="removeRepositoryField(i)" style="margin-left: 10px" type="button" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 float-right offset-9">
                <div class="float-right">
                  <button type="button" (click)="addRepositoryField()" class="btn btn-info">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  TEAM FIELDS -->
  <div class="row">
    <div class="col-md-12">
      <!-- Collapsable Card Example -->
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#teamColapse" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Project team</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="teamColapse" style="">
          <div class="card-body">
            <div class="row" *ngFor="let tf of form.team let i = index">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Member name</label>
                  <input type="text" class="form-control" id="tfname{{i}}"
                         name="tfname{{i}}" aria-describedby="teamMemberHelp" placeholder="Enter member name"
                         [(ngModel)]="form.team[i].name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Member position</label>
                    <input type="text" class="form-control" id="tfposition{{i}}"
                           name="tfposition{{i}}" aria-describedby="memberPositionHelp" placeholder="Enter member position"
                           [(ngModel)]="form.team[i].position">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="form-group" style="margin-top:37px; margin-right: 3px">
                    <div class="custom-control custom-switch">
                      <input [(ngModel)]="form.team[i].stillOnTeam" name="tfstillonteam{{i}}" type="checkbox" class="custom-control-input" id="tfstillonteam{{i}}">
                      <label class="custom-control-label" for="tfstillonteam{{i}}">Still on project</label>
                      <button style="margin-top: -3px" (click)="removeTeamField(i)" type="button" class="btn btn-danger btn-sm float-right"><span class="fa fa-trash"></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 float-right offset-9">
                <div class="float-right">
                  <button type="button" (click)="addTeamField()" class="btn btn-info">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 float-right offset-9">
      <div class="float-right">
        <button class="btn btn-success">
          Save
        </button>
        <a [routerLink]="['/central/projects']" class="btn btn-secondary" style="margin-left: 10px">
          Cancel
        </a>
      </div>
    </div>
    <div class="form-group"><br>
      <div class="alert alert-danger" role="alert"
           *ngIf="f.submitted && isRequestFailed">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</form>
